<html>
	<head>
		<title>new template</title>
	</head>
	<body>
		<p>Hello omy</p>
		<p> Hi <%= name %> </p>
		<p> Hi <%= id %></p>
		<input id="new-temp-val" type="text"/>
		<div id="new-temp"></div>
	</body>
	<script type="text/javascript" src="/ejs.min.js"></script>
	<script type="text/javascript" src="/main.js"></script>
	<!--
	<script type="text/javascript">
		var tmpl = "<p>new template</p>";
		var newTempDiv = document.getElementById("new-temp");
		setTimeout(function(){
			newTempDiv.innerHTML = ejs.render(tmpl);		
		},2000)
	</script>
	-->
</html>

